<link rel="stylesheet" href="/stylesheets/about.css">
<section id="about" class="container-fluid navblock">
	<div class="about-body">
		<h1 class="section-title">Artist: Kat Martens</h1>
		<h3 class="section-title">
		(South Australia, 1980)
		</h3>
		<br>
		<h2 class="about-body-text">
		Kat is an Australian artist who began her career as a way to survive. After becoming homeless at a young age, she thought of unique ways to get by without putting herself in harmful or dangerous situations. Armed with paint, brushes and her creativity she was able to paint murals in exchange for accomodation in various youth hostels around the country.
		</h2>
		<h2 class="about-body-text">
		After many years of traveling the world and Australia, Kat fell in love with the Eyre Highway and has been here for over 2 years at various locations across the Nullarbor stretch.
		</h2>
		<h1>~~~</h1>
		<h2 class="about-body-text">
		Kat painted murals across Australia and the UK in the early 2000's, with one being featured in a BBC documentary and an MTV UK show's opening credits. Her most recent accomplishment is recieving an 'Award of Commendation' and title of 'Artist of the Eyre" at the Norseman Arts competition in 2015.
		</h2>
		<h2 class="about-body-text">
		Kat likes to experiment with different styles, techniques and colours. Her artwork is a reflection of her moods and currently her mood is quirky, colourful and fun. She hopes you enjoy her artwork as much as she enjoyed making it.
		</h2>
	</div>
</section>