<link rel="stylesheet" href="/stylesheets/portfolio.css">
<section id="portfolio" class="container-fluid navblock">
	<div class="container">
		<h1>Art Works</h1>
	</div>
	<div class="row" style="height:550px">
		<div class="col-md-6" style="background-color: blue; height: 100%">
			<div id="thumbnail-window">
			</div>
		</div>
	</div>
</section>