<link rel="stylesheet" href="/stylesheets/portfolio.css">
<section id="portfolio" class="container-fluid navblock">
	<div class="gallery" align="center">
		<h1>Art Works</h1>
		<div class="grid thumbnail-wrapper">
			<div class="grid-item"><a href="images/img3.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img3.jpg"></a></div>
			<div class="grid-item"><a href="images/img2.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img2.jpg"></a></div>
			<div class="grid-item w2"><a href="images/img4.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img4.jpg"></a></div>
			<div class="grid-item"><a href="images/img5.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img5.jpg"></a></div>
			<div class="grid-item"><a href="images/img6.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img6.jpg"></a></div>
			<div class="grid-item w2"><a href="images/img7.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img7.jpg"></a></div>
			<div class="grid-item"><a href="images/img8.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img8.jpg"></a></div>
			<div class="grid-item"><a href="images/img9.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img9.jpg"></a></div>
			<div class="grid-item"><a href="images/img10.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img10.jpg"></a></div>
			<div class="grid-item"><a href="images/img11.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img11.jpg"></a></div>
			<div class="grid-item w2"><a href="images/img12.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img12.jpg"></a></div>
			<div class="grid-item"><a href="images/img13.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img13.jpg"></a></div>
			<div class="grid-item"><a href="images/img14.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img14.jpg"></a></div>
			<div class="grid-item"><a href="images/img15.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img15.jpg"></a></div>
			<div class="grid-item"><a href="images/img16.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img16.jpg"></a></div>
			<div class="grid-item"><a href="images/img17.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img17.jpg"></a></div>
			<div class="grid-item w3"><a href="images/img18.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img18.jpg"></a></div>
			<div class="grid-item w2"><a href="images/img19.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img19.jpg"></a></div>
			<div class="grid-item w2"><a href="images/img20.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img20.jpg"></a></div>
			<div class="grid-item"><a href="images/img21.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img21.jpg"></a></div>
			
		</div>

		<div class="grid thumbnail-wrapper">
			<div class="grid-item"><a href="images/img22.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img22.jpg"></a></div>
			<div class="grid-item"><a href="images/img23.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img23.jpg"></a></div>
			<div class="grid-item"><a href="images/img24.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img24.jpg"></a></div>
			<div class="grid-item"><a href="images/img25.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img25.jpg"></a></div>
			<div class="grid-item"><a href="images/img26.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img26.jpg"></a></div>
			<div class="grid-item"><a href="images/img27.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img27.jpg"></a></div>
			<div class="grid-item"><a href="images/img28.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img28.jpg"></a></div>
			<div class="grid-item"><a href="images/img29.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img29.jpg"></a></div>
			<div class="grid-item"><a href="images/img30.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img30.jpg"></a></div>
			<div class="grid-item w3"><a href="images/img31.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img31.jpg"></a></div>
			<div class="grid-item"><a href="images/img32.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img32.jpg"></a></div>
			<div class="grid-item"><a href="images/img33.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img33.jpg"></a></div>
			<div class="grid-item w2"><a href="images/img34.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img34.jpg"></a></div>
			<div class="grid-item"><a href="images/img35.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img35.jpg"></a></div>
			<div class="grid-item"><a href="images/img36.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img36.jpg"></a></div>
			<div class="grid-item"><a href="images/img37.jpg" data-lightbox="gallery1" data-title="Test Caption"><img class="painting-thumbnail" src="/images/img37.jpg"></a></div>
		</div>

	</div>
</section>