<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include ./partials/navigation.ejs %>
   	<% include ./partials/intro.ejs %>
    <% include ./partials/about.ejs %>
    <% include ./partials/portfolio.ejs %>
    <% include ./partials/contact.ejs %>

    <% include ./partials/scripts.ejs %>
  </body>
</html>
